/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/* Adjustment for anchor tag positioning with fixed header */

.anchor, #contattaci{
	display: block;
	padding-top:100px;
	margin-top:-100px;
}

ul {
	list-style: inside;
}

.testimonial p, .testimonial h1 {
	margin-left:10px; 
	margin-right: 10px; 
}

@media (max-width: 500px) {
	#page-title.page-title-dark.ozono {
	  background: url(images/mobile/Evotech-Calidarium-risparmio-acs-combustibile-mobile.jpg)
	}
  }